{
    "extends": "standard",
    "globals": {
        "_": true,
        "alert": true,
        "$": true,
        "Backbone": true,
        "P": true,
        "SVG": true,
        "SvgStyles": true
    },
    "plugins": [
        "standard"
    ],
    "rules": {
        "brace-style": [2, "stroustrup"],
        "eol-last": 2,
        "indent": [2, 4],
        "key-spacing": 0,
        "no-multi-spaces": [2, {
            "exceptions": {"VariableDeclarator": true}
        }],
        "no-trailing-spaces": [2,
            {"skipBlankLines": true}
        ],
        "no-multiple-empty-lines": 0,
        "one-var-declaration-per-line": [2, "always"],
        "padded-blocks": 0,
        "semi": [2, "always"]
    }
}
